*{
  font-family: cursive;
}

.nav-item:hover {
  border-bottom: 2px solid #ff0000;
}
.btn{
  background: white;
  color: red;
  border: 2px solid red;
}
.btn :hover {
  background-color: #ffffff;
  color: rgb(255, 0, 0);
}

.item:hover {
  background-color: #ff000079;
}

.navbar {
  border-bottom: 2px solid #ff0062;
}

.form-control {
  border: 2px solid #0000000f;
  background-color: rgba(205, 216, 216, 0.297);
}

.nav-link {
  font-weight:bolder;
}
.head {
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color:rgb(255, 0, 76);
  margin-top: 10px;
}
.card.m-card{
  border: 3px solid red;
  margin-top: 20px;
  border-radius: 10px;
}
.card.m-card:hover {
  transform: scale(1.1);
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 5px;
  border:2px solid #ff0062;
  justify-content: center;
}
.row {
  justify-content: center;
}
.para {
  text-align: center;
  justify-content: center;
  font-weight: bold;
  padding-left: 25px;
}
.parah {
  text-align: center;
  justify-content: center;
  font-weight:600;
  padding-left: 25px;
}

.card.card3 {
  max-width: 540px;
}
.c-image {
  height: 400px;
  opacity: 0.8;
}
.center {
  width: 100%;
}
.btn.m-btn {
  background: white;
  color: red;
  border: 2px solid red;
}
.btn.m-btn:hover{
  background: red;
  color:white;
}


.c-card:hover{
  transform: scale(1.1);

}
.card-title.m-card{
  font-weight: bold;
}
.card.p-card{
  border: 2px solid red;
}
.card-title.p-card{
  font-weight: bold;
}
.btn.sr-btn{
  width:100px;
  justify-content: center;
}
.social-container {
  background: white;
  padding: 25px 50px;
  justify-content: center;
  display:flex;
}
.socialc-container {
  padding: 25px 50px;
  justify-content: center;
  display:flex;
}
.socials-container {
  background: white;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.socialc-container {
justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
a.social {
  margin: 50px;
  transition: transform 250ms;
  display: inline-block;
}
a.socials {
  margin: 50px;
  transition: transform 250ms;
  display: inline-block;
}
a.socialc {
  margin: 50px;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: scale(1.2);
}
a.socialc:hover {
  transform: scale(1.2);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: rgb(251, 255, 0);
}

a.linkedin {
  color: rgb(0, 60, 255);
}
.socialfoll{
  margin: 20px 510px;
}
.footer
{
  background:#000000;
  color:rgb(255, 255, 255);
  text-align: center;
  padding:10px;
  justify-content: center;
}

.car{
  font-weight: bolder;
  font-size: 30px;
  color: #000000;
  font-family: cursive;
}
.carhe{
  font-weight: bolder;
  font-size: 50px;
  color: #000000;
  font-family:cursive;
}
.card-header{
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  border-bottom:2px solid #eb3223;
  
}
.about{
  padding-left: 30px;
  padding-right:30px;
}

.card-card{
  border: 2px solid #ff0000;
}
.card-title{
  font-weight: bold;
  font-size: 20px;
}
.btn-outline-danger{
  background-color:#ffffff;
  color: #eb3223;
  width: 150px;

}


a.youtubes {
  color: #eb3223;
  margin: 10px;
}

a.facebooks {
  color: #4968ad;
  margin: 10px;
}

a.twitters {
  color: #49a1eb;
  margin: 10px;
}

a.instagrams {
  color: rgb(251, 255, 0);
  margin: 10px;
}

a.Linkedins {
  color: rgb(0, 60, 255);
  margin: 10px;
}
a.youtubec {
  color: #eb3223;
  margin: 20px;
}

a.facebookc {
  color: #4968ad;
  margin: 20px;
}

a.twitterc {
  color: #49a1eb;
  margin: 20px;
}

a.instagramc {
  color: rgb(251, 255, 0);
  margin: 20px;
}

a.Linkedinc {
  color: rgb(0, 60, 255);
  margin: 20px;
}

.contact-us-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.contact-image {
  flex: 1;
  margin-right: 20px;
}

.contact-image img {
  max-width: 100%;
  height: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group textarea {
  resize: vertical;
}

.recipe-contact-us-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.contact-image {
  flex: 1;
  margin-right: 20px;
}

.contact-image img {
  max-width: 100%;
  height: 800px;
}

.contact-form {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #eb3223;

}

.contact-form h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group textarea {
  resize: vertical;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.headc{
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  color:rgb(255, 0, 76);
  margin-top: 10px;
}
/* .btn.btnc {
  background: white;
  color: red;
  border: 2px solid red;
  margin-left: 153px;
} */
.btn.btnc:hover{
  background: red;
  color:white;
}
.name{
  font-weight:bolder;
  font-style:italic;
  background-color: greenyellow;
}