.nav-item{
  position: relative;
}

.nav-item:hover{
     border-bottom: 2px solid #000000;  
}

.btn btn-light:hover{
  background-color: #ffffff;
  color:rgb(30, 25, 25);
}

.item:hover{
background-color: #5900ff79;
}

.navbar{
  border-bottom: 2px solid #ff0062;
}

.form-control{
  border: 2px solid #0000000f;
  background-color: rgba(205, 216, 216, 0.297);
}

.nav-link{
  font-weight: 700;
  
}
.img-tag{
  opacity: 0.7;
  width: 650px;
  height: 500px;
  position: fixed;
}
